pkgbase = librefang-bin
	pkgdesc = Community-maintained Agent Operating System written in Rust
	pkgver = 2026.6.24_beta.23
	pkgrel = 1
	url = https://librefang.ai
	install = librefang-bin.install
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	depends = dbus
	optdepends = python: first-party channel sidecar adapters
	optdepends = docker: Docker-backed tools and sandbox workflows
	provides = librefang
	conflicts = librefang
	options = !debug
	backup = etc/librefang/env
	source = https://github.com/librefang/librefang/releases/download/v2026.6.24-beta.23/librefang-x86_64-unknown-linux-gnu.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/librefang/librefang/v2026.6.24-beta.23/LICENSE
	source = librefang.service
	source = librefang.sysusers
	source = librefang.tmpfiles
	source = librefang.env
	sha256sums = c81a5d2b1b904e2f0864534c30c01e9cbe36b1e6790c419414e2684dd501a516
	sha256sums = d4330a3004bd990da1830124b1ccccb51129ebb8b5a70a0b79d5626b7c1226a0
	sha256sums = 8256e3089819a4e4a865c5454876fdf3192945c9569b85d6854a31c3b3ee911f
	sha256sums = 9d72d1f4de5e5aef909778d7ccb9de3c29072ed1dc371a252b551b828e5a74d9
	sha256sums = d5551061bab4c176c95ea77d4c787c3f766f64a78fe0937b9a857f07073bd59e
	sha256sums = e6c162276a58e632cd7464629c39a24671d8bacf953cb4b0261bad6efb145d24

pkgname = librefang-bin
